
<!DOCTYPE html>
<html>
<body style="font-family:Arial;padding:20px">

<h1>💳 Dettes</h1>

{% for row in data %}

<div class="card">

    <h3>{{ row[1] }}</h3>
    <p>{{ row[2] }} FC</p>
    <p>{{ row[3] }}</p>
    <p>{{ row[4] }}</p>

    <a href="/supprimer_dette/{{ row[0] }}">
        🗑️ Supprimer
    </a>

</div>

{% endfor %}
<h1>📋 Dettes</h1>

<form method="POST">
    <input name="titre" placeholder="Titre">
    <input name="montant" placeholder="Montant">
    <button>Ajouter dette</button>
</form>

<hr>

{% for d in data %}
<p>⚠️ {{ d[1] }} - {{ d[2] }} FC - {{ d[4] }}</p>
{% endfor %}

<br>
<a href="/dashboard">⬅️ Retour dashboard</a>

</body>
</html>