<!DOCTYPE html>
<html>
<body style="font-family:Arial;padding:20px">

<h1>💰 Recettes</h1>

<!-- FORMULAIRE PROPRE -->
<form method="POST">

    <input name="titre" placeholder="Titre" required>

    <input name="montant" placeholder="Montant" required>

    <select name="devise" required>
        <option value="CDF">CDF</option>
        <option value="USD">USD</option>
    </select>

    <button type="submit">Ajouter</button>

</form>

<hr>

<!-- LISTE RECETTES -->
{% for row in data %}

<div class="card" style="border:1px solid #ddd;padding:10px;margin:10px">

    <h3>{{ row[1] }}</h3>
    <p>{{ row[2] }} FC</p>
    <p>{{ row[3] }}</p>

    <a href="/supprimer_recette/{{ row[0] }}">
        🗑️ Supprimer
    </a>

</div>

{% endfor %}

<br>
<a href="/dashboard">⬅️ Retour dashboard</a>

</body>
</html>